<div class="mt-2 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Nuevo Producto</h1>
        </div>
    </div>
    <form action="/products/api/products" method="POST">
        <p class="fst-italic">Los campos con * son olbigatorios</p>
        <input type="text" name="productSku" class="form-control" value="" readonly hidden>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="productTypeInput" class="form-label">Tipo de Producto <strong>*</strong></label>
                    <input type="text" name="productType" class="form-control" id="productTypeInput"
                           placeholder="Ejm: Billetera">
                </div>
                <div class="mb-3">
                    <label for="productNameInput" class="form-label">Nombre Comercial <strong>*</strong></label>
                    <input type="text" name="productName" class="form-control" id="productNameInput"
                           placeholder="...">
                </div>
                <div class="mb-3">
                    <label for="productDescriptionInput" class="form-label">Descripción <strong>*</strong></label>
                    <input type="text" name="productDescription" class="form-control" id="productDescriptionInput"
                           placeholder="...">
                </div>
                <div class="mb-3">
                    <label for="productDetailInput" class="form-label">Detalles <strong>*</strong></label>
                    <input type="text" name="productDetails" class="form-control" id="productDetailInput"
                           placeholder="...">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <img src="https://dummyimage.com/250x250/000/fff.jpg" class="rounded mx-auto d-block" alt="...">
                </div>
                <div class="mb-3">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary" type="button">Subir imagen</button>
                        <button class="btn btn-danger" type="button">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="productColorInput" class="form-label">Color</label>
                    <input type="text" name="productColor" class="form-control" id="productColorInput"
                           placeholder="Ejm: Marrón">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="productGenderInput" class="form-label">Género</label>
                    <input type="text" name="productGender" class="form-control" id="productGenderInput"
                           placeholder="Ejm: Unisex">
                </div>
            </div>
            <div class="col-md-3">
                <label for="productPriceInput" class="form-label">Precio</label>
                <div class="mb-3 input-group">
                    <span class="input-group-text">S/.</span>
                    <input type="number" name="productPrice" class="form-control" aria-label="Precio en soles" placeholder="Ejm: 125" id="productPriceInput">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="productStockInput" class="form-label">Stock</label>
                    <input type="number" name="productStock" class="form-control" id="productStockInput"
                           placeholder="Ejm: 15">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <label for="productWidthInput" class="form-label">Ancho</label>
                <div class="mb-3 input-group">
                    <input type="number" name="productWidth" class="form-control" aria-label="Ancho del producto en centímetos" id="productWidthInput">
                    <span class="input-group-text">cm</span>
                </div>
            </div>
            <div class="col-md-3">
                <label for="productLongInput" class="form-label">Largo</label>
                <div class="mb-3 input-group">
                    <input type="number" name="productLong" class="form-control" aria-label="Largo del producto en centímetos" id="productLongInput">
                    <span class="input-group-text">cm</span>
                </div>
            </div>
            <div class="col-md-3">
                <label for="productHighInput" class="form-label">Alto</label>
                <div class="mb-3 input-group">
                    <input type="number" name="productHigh" class="form-control" aria-label="Alto del producto en centímetros" id="productHighInput">
                    <span class="input-group-text">cm</span>
                </div>
            </div>
            <div class="col-md-3">
                <label for="productWeightInput" class="form-label">Peso</label>
                <div class="mb-3 input-group">
                    <input type="number" name="productWeight" class="form-control" aria-label="Peso del producto en kilogramos" id="productWeightInput">
                    <span class="input-group-text">kg</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Crear</button>
                </div>
            </div>
        </div>
    </form>
</div>
