<div class="mt-2 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Nuevo Cliente</h1>
        </div>
    </div>
    <form>
        <p class="fst-italic">Los campos con * son olbigatorios</p>
        <div style="border: 1px solid black" class="row mt-4">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="documentTypeInput" class="form-label">Tipo de Documento <strong>*</strong></label>
                    <input type="text" name="documentType" class="form-control" id="documentTypeInput"
                           placeholder="Ejm: DNI/RUC">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <img src="https://dummyimage.com/200x200/000/fff.jpg" class="rounded img-thumbnail" alt="...">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="documentTypeInput" class="form-label">Tipo de Documento <strong>*</strong></label>
                    <input type="text" name="documentType" class="form-control" id="documentTypeInput"
                           placeholder="Ejm: DNI/RUC">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Nombres <strong>*</strong></label>
                    <input type="text" name="name" class="form-control" id="nameInput" placeholder="Ejm: Jhon">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="lastNameInput" class="form-label">Apellidos <strong>*</strong></label>
                    <input type="text" name="lastName" class="form-control" id="lastNameInput" placeholder="Ejm: Doe">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Correo Electrónico</label>
                    <input type="email" name="email" class="form-control" id="emailInput"
                           placeholder="Ejm: hola@hotmail.com">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="phoneNumberInput" class="form-label">Telefono/Celular <strong>*</strong></label>
                    <input type="text" name="phoneNumber" class="form-control" id="phoneNumberInput"
                           placeholder="Ejm: 925697495">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="mainAddressInput" class="form-label">Dirección <strong>*</strong></label>
                    <input type="text" name="mainAddress" class="form-control" id="mainAddressInput"
                           placeholder="Ejm: Avenida Ramón Carcamo 785">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="ubigeoCountryDropdown" class="form-label">Color</label>
                    <input type="text" name="ubigeoCountry" class="form-control" id="ubigeoCountryDropdown"
                           placeholder="Ejm: Marrón">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="ubigeoDepartmentDropdown" class="form-label">Género</label>
                    <input type="text" name="ubigeoDepartment" class="form-control" id="ubigeoDepartmentDropdown"
                           placeholder="Ejm: Unisex">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="ubigeoProvinceDropdown" class="form-label">Precio S/.</label>
                    <input type="text" name="ubigeoProvince" class="form-control" id="ubigeoProvinceDropdown"
                           placeholder="Ejm: 125">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Stock</label>
                    <input type="text" name="ubigeoDistrict" class="form-control" id="exampleFormControlInput1"
                           placeholder="Ejm: 15">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="ubigeoCountryDropdown" class="form-label">Ancho en cm</label>
                    <input type="text" name="ubigeoCountry" class="form-control" id="ubigeoCountryDropdown"
                           placeholder="Ejm: 15">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="ubigeoDepartmentDropdown" class="form-label">Largo en cm</label>
                    <input type="text" name="ubigeoDepartment" class="form-control" id="ubigeoDepartmentDropdown"
                           placeholder="Ejm: 15">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="ubigeoProvinceDropdown" class="form-label">Alto en cm</label>
                    <input type="text" name="ubigeoProvince" class="form-control" id="ubigeoProvinceDropdown"
                           placeholder="Ejm: 15">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Peso Kg.</label>
                    <input type="text" name="ubigeoDistrict" class="form-control" id="exampleFormControlInput1"
                           placeholder="Ejm: 1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Crear</button>
                </div>
            </div>
        </div>
    </form>
</div>
